---
layout: default
---
<section id="main" class="container">
	<header>
		<h2>Publications</h2>
	</header>

	<div class="box">

		<ul class="alt">
			{% assign sorted_pubs = site.publications | sort:"year" |reverse %}

			<h4> Last updated March 2021 </h4>
			{% for pub in sorted_pubs %}
				{% if pub.tag == 'recent' %}
					<li> <strong>{{pub.year}}</strong> {{pub.authors}}, {{pub.title}}. <em>{{pub.journal}}</em> : <a href="{{pub.pdf_link}}"> LINK</a></li>
				{% endif %}
			{% endfor %}

		</ul>
	</div>
</section>
