---
layout: default
---
<section id="main" class="container">
	<header>
		<h2>Publications</h2>
	</header>

	<div class="box">

		<ul class="alt">
			{% assign sorted_pubs = site.publications | sort:"year" |reverse %}

			<h3> Coupled Human-Coastlines </h3>
			{% for pub in sorted_pubs %}
				{% if pub.tag == 'coupledcoas' %}
					<li> <strong>{{pub.year}}</strong> {{pub.authors}}, {{pub.title}}. <em>{{pub.journal}}</em> : <a href="{{pub.pdf_link}}"> LINK</a></li>
				{% endif %}
			{% endfor %}

			<h3> Coral Reefs </h3>
			{% for pub in sorted_pubs %}
				{% if pub.tag == 'coral' %}
					<li> <strong>{{pub.year}}</strong> {{pub.authors}}, {{pub.title}}. <em>{{pub.journal}}</em> : <a href="{{pub.pdf_link}}"> LINK</a></li>
				{% endif %}
			{% endfor %}

			<h3> Coastal Morphodynamics </h3>
			{% for pub in sorted_pubs %}
				{% if pub.tag == 'beach' %}
					<li> <strong>{{pub.year}}</strong> {{pub.authors}}, {{pub.title}}. <em>{{pub.journal}}</em> : <a href="{{pub.pdf_link}}"> LINK</a></li>
				{% endif %}
			{% endfor %}

			<h3> General Coupled Human-Environmental Systems </h3>
			{% for pub in sorted_pubs %}
				{% if pub.tag == 'coupledgen' %}
					<li> <strong>{{pub.year}}</strong> {{pub.authors}}, {{pub.title}}. <em>{{pub.journal}}</em> : <a href="{{pub.pdf_link}}"> LINK</a></li>
				{% endif %}
			{% endfor %}

			<h3> Physics - Optics </h3>
			{% for pub in sorted_pubs %}
				{% if pub.tag == 'physics' %}
					<li> <strong>{{pub.year}}</strong> {{pub.authors}}, {{pub.title}}. <em>{{pub.journal}}</em> : <a href="{{pub.pdf_link}}"> LINK</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>
